body {
    font-family: Arial, sans-serif;
}

#form-container {
    margin-top: 20px;
}

#table-container {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

button {
    margin-right: 10px;
}
